* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.navbar {
	position: fixed;
	padding: 15px 15px;
	width: 100%;
	background: black;
	font-family: 'Ubuntu', sans-serif;
	z-index: 999;
}

.navbar-brand {
	font-size:  35px;
	font-weight: 700;
}

.navbar-brand span {
	color: #FEE715FF;
}

.nav-collapse .navbar-link {
	color: white;
}


.navbar-nav a {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

.nav-link {
	font-family: 'Ubuntu', sans-serif !important;
	font-weight: 400 !important;
}

.nav-link:hover {
	color: #FEE715FF !important;
}

/* home section styling */
.home {
	display:  flex;
	background: black no-repeat center;
	height: 100vh;
	color: white;
	min-height: 500px;
	font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
	margin:  auto 0 auto 40px;
}

.home .home-content .text-1 {
	font-size: 27px;
}

.home .home-content .text-2 {
	font-size: 60px;
	font-weight: 600;
	margin-left: -3px;
}

.home .home-content .text-3 {
	font-size: 30px;
	margin: 5px 0;
}

.home .home-content .text-3 span {
	color: #FEE715FF;
	font-weight: 500;
}

/* about section styling */
section {
	padding: 100px 0;
}
.about {
	font-family: 'Poppins', sans-serif;
}

.about .title {
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500 !important;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
}

.about .title::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: #111;
	transform: translateX(-50%);
}

.about .title::after{
	content: "who am i";
	position: absolute;
	bottom: -13px;
	left: 50%;
	font-size: 20px;
	color: crimson;
	padding: 5px;
	background: #fff;
	transform: translateX(-50%);
}

.about .about-content{
	display: flex;
	/*flex-wrap: wrap;*/
	align-items: center;
	justify-content: space-between;
	margin: 0 40px;
}

.about .about-content .left {
	 width: 45%; 
	 margin-left: 60px;
}

.about .about-content .left img {
	height: 350px;
	widows: 350px;
	object-fit: cover;
	padding-left: 40px;
	border-radius: 6px;
}

.about .about-content .right {
	width: 55%;  
	margin-left: 100px;
	margin-right: 100px;
}

.about .about-content .right .text {
	font-size: 25px;
	font-weight: 600;
}

.about .about-content .right .text span  {
	color: crimson;
}

.about .about-content .right p {
	text-align: justify;
}

.about .about-content .right a {	
	display: inline-block;
	background: #FEE715FF;
	color: #fff;
	font-size: 15px;
	padding: 1px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid #FEE715FF;
}

.about .about-content .right a:hover {
	color: #FEE715FF;
	background: none;
}

/* project section styling */

.project {
	position: relative;
	font-family: 'Poppins', sans-serif;
	color: white;
	background: black;
}

.project .title {
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500 !important;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
}

.project .title::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 300px;
	height: 3px;
	background: white;
	transform: translateX(-50%);
}

.project .title::after{
	content: "what works i've completed";
	position: absolute;
	bottom: -13px;
	left: 50%;
	font-size: 20px;
	color: #FEE715FF;
	padding: 5px;
	background: black;
	transform: translateX(-50%);
}

.card {
	color: black;
	font-family: 'Poppins', sans-serif;
   	margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-body a {
	display: inline-block;
	background: #FEE715FF;
	color: black;
	font-size: 15px;
	padding: 1px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid #FEE715FF;

}
/* responsive media query */

